/* theme three */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
:root {
    /* backgrounds */
    --main-background:  hsl(268, 75%, 9%);
    --toggle-screen-keypad-background: hsl(268, 71%, 12%);

    /* keys */
    --delete-reset-key-background: hsl(281, 89%, 26%);
    --delete-reset-key-shadow: hsl(285, 91%, 52%);
    --equal-key-background: hsl(176, 100%, 44%);
    --equal-key-shadow: hsl(177, 92%, 70%);
    --numbers-operators-key-background: hsl(268, 47%, 21%);
    --numbers-operators-key-shadow: hsl(290, 70%, 36%);

    /* text */
    --primary-text-color: hsl(52, 100%, 62%);
    --equal-text-color: hsl(198, 20%, 13%);
    --secondary-text-color: hsl(0, 0%, 100%);
}

#credits > a {
    text-decoration: none;
    color: var(--equal-key-background);
}

#credits {
    color: var(--secondary-text-color);
}

body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    background-color: var(--main-background);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#appTitle {
    font-family: 'League-Spartan', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: var(--primary-text-color);
}

#themeTitle {
    font-family: 'League-Spartan', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    margin-left: 40vh;
    color: var(--primary-text-color);
}

#themeChangeContainer {
    margin-left: 10px;
}

.themeLabel {
    font-family: 'League-Spartan', sans-serif;
    font-style: normal;
    font-size: 12px;
    margin-left: 30px;
    color: var(--primary-text-color);
}

#themeSlider {
    -webkit-appearance: none;
    background-color: var(--toggle-screen-keypad-background);
    border-radius: 30px;
    height: 30px;
    width: 120px;
    margin-left: 10px;
}

#themeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 10px;
    background-color: var(--equal-key-background);
}

#themeSlider::hover {
    -webkit-appearance: none;
    background-color: var(--equal-key-shadow);
}

#calculatorDisplay {
    background: var(--toggle-screen-keypad-background);
    border: none;
    width: 539px;
    height: 100px;
    border-radius: 10px;
    color: var(--primary-text-color);
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 37px;
    text-align: right;
}

#calculatorRows {
    width: 539px;
    height: 480px;
    background: var(--toggle-screen-keypad-background);
    border-radius: 8px;
    margin-top: 15px;
}

#row1, #row2, #row3, #row4, #row5{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    width: 488px;
    height: 60px;
    margin-top: 30px;
    margin-left: 20px;
}

.numberButton, #decimalOperatorButton, #divideOperatorButton, #multiplyOperatorButton, #plusOperatorButton, #subtractOperatorButton {
    border: none;
    width: 100px;
    height: 50px;
    background-color: var(--numbers-operators-key-background);
    box-shadow: 0px 4px 0px var(--numbers-operators-key-shadow);
    border-radius: 9px;
    color: var(--primary-text-color);
    font-family: 'League Spartan', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 35px;
    line-height: 37px;
    margin-top: 20px;
}

.numberButton:hover, #decimalOperatorButton:hover, #divideOperatorButton:hover, #multiplyOperatorButton:hover, #plusOperatorButton:hover, #subtractOperatorButton:hover{
    background-color: var(--numbers-operators-key-shadow);
}

#deleteOperatorButton {
    border: none;
    width: 100px;
    height: 50px;
    background-color: var(--delete-reset-key-background);
    box-shadow: 0px 4px 0px var(--delete-reset-key-shadow);
    border-radius: 9px;
    color: var(--secondary-text-color);
    font-family: 'League Spartan', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 25px;
    line-height: 37px;
    margin-top: 20px;
}

#deleteOperatorButton:hover {
    background-color: var(--delete-reset-key-shadow);
}

#resetOperatorButton {
    width: 300px;
    height: 60px;
    border: none;
    background: var(--delete-reset-key-background);
    box-shadow: 0px 4px 0px var(--delete-reset-key-shadow);
    border-radius: 9px;
    font-family: 'League-Spartan', sans-serif;
    color: var(--secondary-text-color);
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
}

#resetOperatorButton:hover {
    background-color: var(--delete-reset-key-shadow);
}

#equalOperatorButton {
    width: 300px;
    height: 60px;
    border: none;
    background: var(--equal-key-background);
    box-shadow: 0px 4px 0px var(--equal-key-shadow);
    border-radius: 9px;
    font-family: 'League-Spartan', sans-serif;
    color: var(--secondary-text-color);
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
}

#equalOperatorButton:hover {
    background-color: var(--equal-key-shadow);
}